name: Build Tarball

on:
  workflow_dispatch:
  push:
  
jobs:
  build_arm64_deb:
    runs-on: ubuntu-24.04-arm 
    
    container:
      image: debian:sid-slim
      options: --user root
    steps:
    - name: Install some dependencies
      run: |
        # Update package lists
        apt-get update
        apt-get install sudo git wget curl jq -y
        
    - name: Checkout
      uses: actions/checkout@v4
      with:
        repository: 'htkhiem/euphonica'
        submodules: 'recursive'
        
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        
    - name: Install build dependencies
      run: |
        apt-get update
        
        apt-get install -y \
          build-essential \
          git \
          meson \
          ninja-build \
          pkg-config \
          libdbus-1-dev \
          libgtk-4-dev \
          libadwaita-1-dev \
          libpipewire-0.3-dev \
          libsqlite3-dev \
          libssl-dev \
          libsecret-1-dev \
          gettext \
          clang \
          xdg-desktop-portal-gtk \
          libdconf-dev \
          libmpdclient-dev \
          desktop-file-utils \
          libxml2-utils
          
    - name: Configure build
      run: |
        meson setup build --buildtype=release --prefix=/usr

    - name: Compile
      run: |
        mkdir -p /package
        
        ninja -C build
        
        DESTDIR=/package meson install -C build
        
        
        if [ ! -f /package/usr/bin/euphonica ]; then
          echo "Binary missing from /package/usr/bin/. Attempting manual copy..."
          COMPILED_BINARY=$(find build -name "euphonica" -type f -executable | head -n 1)
          if [ -f "$COMPILED_BINARY" ]; then
            mkdir -p /package/usr/bin
            cp "$COMPILED_BINARY" /package/usr/bin/
            echo "SUCCESS!"
          else
            echo "Uh oh! Compiled binary not found! Exiting."
            exit 1
          fi
        fi
        
        if [ ! -f /package/usr/share/euphonica/euphonica.gresource ]; then
          echo "Uh oh! GResource file missing! Attempting manual copy..."
          
          GRESOURCE_FILE=$(find build -name "euphonica.gresource" | head -n 1)
          
          if [ -f "$GRESOURCE_FILE" ]; then
            mkdir -p /package/usr/share/euphonica
            cp "$GRESOURCE_FILE" /package/usr/share/euphonica/
            echo "SUCCESS: GResource file manually copied."
          else
            echo "Wuh oh! euphonica.gresource resource file not found! Exiting."
            exit 1
          fi
        fi

    - name: Create tarball
      run: |
        tar -czvf euphonica-arm64.tar.gz -C /package .
        
    - name: Upload Tarball
      uses: actions/upload-artifact@v4
      with:
        name: euphonica-tarball
        path: euphonica-arm64.tar.gz
